<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Javascript</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Javascript Programming</h1>-->
<!--<p id="demo"></p>-->
<!--<script>-->
<!--    let x,y,z;-->
<!--    x = 5;-->
<!--    y = 10;-->
<!--    z = x + y;-->
<!--    document.getElementById("demo").innerHTML = "The value of z is " + z + ".";-->
<!--    -->
<!--</script>-->


<!--</body>-->
<!--</html>-->


<html>
<title>Javascript programming</title>
<head></head>
<body>
<h1>Javascript Programming</h1>
<p id="demo">Paragraph</p>
<button onclick="myfunction()">Click here</button>
<script>
    function myfunction(){
    document.getElementById("demo").innerHTML = "Paragraph changed";
    }
</script>
</body>
</html>
